{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Widgets fixo</h5>
    <div class="card-body">
        <p class="card-text"> Este incrível blog está sendo criando com base em nosso Framework favorito  'Django', siga o desenvolvimento em nosso Github..!</p>
        <a href="https://github.com/messe157/blog"
           class="btn btn-danger">Github..</a>
    </div>
</div>
</div>



{% endblock sidebar %}

